.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.tophead {
  color: cadetblue;
  background-color:rgb(0, 0, 0);
  
}



body {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color:cadetblue;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a:hover {
  background-color: #555;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: black;
}

.navbar a:hover {
  background-color: #555;
}

.rightbar {
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
}

.rightbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.rightbar li {
  margin: 0 15px;
}

.rightbar a:hover {
  background-color: #555;
}

.rightbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: black;
}

.rightbar a:hover {
  background-color: #555;
}

.bar {
  position: absolute;
  left: 97%;
  transform: translateX(-50%);
}
